---
import { Image } from "astro:assets";
import { Picture } from "astro:assets";

import GoBackInTop from "@shared/components/bottons/GoBackInTop.astro";

import MainLayout from "@layouts/MainLayout.astro";
import TOC from "@shared/components/ToC/toc";
import ProjectsSEO from "@SEO/pages/projects/ProjectsSEO.astro";

import LVMes from "./_lavidamodernaes-banner.png";
import Mezclar from "./_boton-mezclar.png";
import OG from "./_opengraph-lvmes.png";
import OGErrorPage from "./_opengraph-lvmes-error-page.png";
import Loop from "./_viral-loop-lavidamodernaes.png";

import { SquareArrowOutUpRight } from "@lucide/astro";
import { PROJETCS_DATA } from "@/components/pages/projects/data/projectsData";

const LVM_headings = [
  { text: "쮻e qu칠 va este proyecto?", slug: "de-que-va-este-proyecto" },
  {
    text: "쮺칩mo y por qu칠 he hecho lo que he hecho?",
    slug: "como-y-por-que-he-hecho-lo-que-he-hecho",
  },
  { text: "Dise침o", slug: "diseno" },
  { text: "Herramientas que he usado", slug: "herramientas-que-he-usado" },
  {
    text: "Cosas interesantes que he a침adido",
    slug: "cosas-interesantes-que-he-anadido",
  },
];
const { LVM_es } = PROJETCS_DATA;
---

<MainLayout>
  <ProjectsSEO
    pageTitle={LVM_es.projectTitle}
    pageDescription={LVM_es.projectDescription}
    ogImage={LVMes.src}
  />
  <article>
    <GoBackInTop headPage="/proyectos" />
    <TOC
      client:only="react"
      headings={LVM_headings}
      title={LVM_es.projectTitle}
    />
    <section class="flex flex-col items-center justify-center">
      <h1 transition:name={`${LVM_es.href}-project-title`} class="text-center">
        #LaVidaModerna es...
      </h1>

      <Picture
        class="w-full h-auto mt-5"
        src={LVMes}
        width={1000}
        height={1000}
        alt={"Banner del proyecto de Chema de LaVidaModerna es..."}
        transition:name={`${LVM_es.href}-project-image`}
      />

      <a
        class="mt-2 underline decoration-wavy decoration-[#f9138e] text-xs flex items-center justify-center gap-1"
        href="https://lavidamodernaes.com"
        target="_blank"
        rel="noopener noreferrer"
        >lavidamodernaes.com <SquareArrowOutUpRight size={12} />
      </a>
      <section class="mt-12">
        <h2 id="de-que-va-este-proyecto" class="mt-5 mb-4">
          쮻e qu칠 va este proyecto?
        </h2>
        <p class="mb-2">
          Empez칩 como una tonter칤a. En el antiguo programa de radio de la SER,
          La Vida Moderna, crearon un hashtag en Twitter, <span class="italic"
            >#LaVidaModerna es</span
          >, donde creabas frases que empezaran con ese hashtag y que tuvieran
          la iron칤a, sarcasmo y s치tira de lo que puede llegar a ser (es) la vida
          (moderna).
        </p>
        <p class="mb-2">
          Y aqu칤 te quiero contar un poco c칩mo ha sido el detr치s de c치maras.
        </p>
        <h2 id="como-y-por-que-he-hecho-lo-que-he-hecho" class="mt-10 mb-2">
          쮺칩mo y por qu칠 he hecho lo que he hecho?
        </h2>
        <p>
          Todo lo que ves, tiene su sentido. No me gusta dejar las cosas al
          azar.
        </p>
        <h3 id="dise침o" class="mt-8 mb-2">Dise침o</h3>
        <p>
          He intentado mantener en todo momento el esp칤ritu 'keep it cutre' del
          programa, a침adiendo algunos elementos sin perder la buena UX:
        </p>
        <ul class="ml-4 sm:ml-8 mt-2 list-disc">
          <li>
            Para hacer la p치gina he seguido el estilo <a
              target="_blank"
              rel="noopener noreferrer"
              class="underline decoration-wavy decoration-[#f9138e]"
              href="https://www.nngroup.com/articles/neobrutalism/"
              >Neobrutalism</a
            >.
            <p class="mt-1">
              Me parec칤a un dise침o sencillo y descuidado que podr칤a servir para
              el proyecto.
            </p>
          </li>
          <li>
            Las p치ginas las he dividido por Temporadas (T), y la Home (Todas),
            donde est치n todas las frases recopiladas.
            <p class="mt-1">
              Vi necesario en la Home, hacer una mezcla aleatoria a la hora de
              hacer el deploy a producci칩n pero no cada vez que un usuario
              entrase para no a침adir complejidad.
            </p>
          </li>
          <li>
            Para resolver el problema de "ver siempre lo mismo si no hago un
            deploy" y no a침adir JavaScript innecesario, cre칠 un bot칩n para
            mezclar.
            <p class="mt-1">
              Funciona con el <a
                href="https://es.wikipedia.org/wiki/Algoritmo_de_Fisher-Yates"
                target="_blank"
                rel="noopener noreferrer"
                class="underline decoration-wavy decoration-[#f9138e]"
                >algoritmo de "shuffle" de Fisher-Yates</a
              > y as칤 crear siempre una sensaci칩n de novedad en el usuario.
            </p>
            <Image
              src={Mezclar}
              width={1000}
              height={1000}
              class="w-3/4 h-auto py-2"
              alt="Imagen del bot칩n de mezclar de la p치gina lavidamodernaes.com"
            />
            <p class="mt-1">
              Hay 739 frases, lo 칰ltimo que quiero es obligar a hacer un scroll
              infinito si quieren ver algo nuevo.
            </p>
          </li>
          <li>
            La fuente intent칠 que fuera <span class="font-bold">Comic Sans</span
            >
            como fuente cutre por antonomasia, pero al ser de pago, tuve que usar
            la "hermana" gratuita de Google, <a
              href="https://fonts.google.com/specimen/Comic+Neue?query=comic"
              target="_blank"
              rel="noopener noreferrer"
              class="underline decoration-wavy decoration-[#f9138e]"
              >Comic Neue.</a
            >
          </li>
          <li>
            El color, por supuesto, ten칤a que ser el Rosa Moderdonia: <span
              class="text-[#f9138e]">#f9138e</span
            >, copiado de la bandera.
          </li>
          <li>El logo deb칤a ser la bandera.</li>
          <li>
            Para mantener un poco m치s el esp칤ritu "Keep it cutre", las tarjetas
            deb칤an estar como cuadros mal colgados de manera aleatoria entre
            -rotation-3 y rotation-3.
          </li>
        </ul>

        <h3 id="herramientas-que-he-usado" class="mt-8 mb-2">
          Herramientas que he usado:
        </h3>
        <ul class="ml-4 sm:ml-8 mt-2 list-disc">
          <li>
            <a
              class="underline decoration-wavy decoration-[#f9138e]"
              href="https://astro.build/"
              target="_blank"
              rel="noopener noreferrer">Astro</a
            >
            como framework para construir la web con p치ginas est치ticas. No hac칤a
            falta m치s.
          </li>
          <li>
            <a
              class="underline decoration-wavy decoration-[#f9138e]"
              href="https://tailwindcss.com/"
              target="_blank"
              rel="noopener noreferrer">Tailwind</a
            > como framework de CSS para ir m치s r치pido dise침ando.
          </li>
          <li>
            <a
              class="underline decoration-wavy decoration-[#f9138e]"
              target="_blank"
              rel="noopener noreferrer"
              href="https://lovable.dev/">Lovable</a
            > para coger ideas para la UI.
          </li>
          <li>
            <a
              class="underline decoration-wavy decoration-[#f9138e]"
              target="_blank"
              rel="noopener noreferrer"
              href="https://cursor.com/">Cursor</a
            > como editor para ir m치s r치pido programando y ayudarme a hacer algunas
            cosas m치s complejas.
          </li>
          <li>
            Twitter y YouTube como fuentes para coger y buscar las frases.
          </li>
        </ul>
        <h3 id="cosas-interesantes-que-he-anadido" class="mt-8 mb-2">
          Cosas interesantes que he a침adido
        </h3>
        <p>
          Como Growth, me gusta tenerlo todo atado y tener alg칰n sistema de
          adquisici칩n y retenci칩n. Aunque este solo era para divertirme pero,
          siempre est치 la mentalidad.
        </p>
        <ul class="ml-4 sm:ml-8 mt-2 list-disc">
          <li>
            SEO
            <p class="mt-1">
              Soy un friki del SEO y se la importancia que puede llegar a tener
              unos buenos OpenGraph o una buena tarjeta de Twitter, as칤 que
              decid칤 invertirle tiempo a ello con tal de que cada vez que
              compartiera una la web o alguna p치gina se viera de la siguiente
              manera:
            </p>
            <Image
              src={OG}
              width={1000}
              height={1000}
              class="w-2/4 h-auto py-2"
              alt="Imagen del open graph de lavidamodernaes.com"
            />
            <p class="mt-1">
              E incluso pens칠 en la p치gina 404 que para m칤, es una de las m치s
              divertidas y donde a칰n habiendo un error, puedes no perder al
              usuario y hacer que se enganche de nuevo.
            </p>
            <Image
              src={OGErrorPage}
              width={1000}
              height={1000}
              class="w-2/4 h-auto py-2"
              alt="Imagen del open graph de la p치gina de error de lavidamodernaes.com"
            />
          </li>
          <li>
            "Viralidad"
            <p class="mt-1"></p>
            Quer칤a a침adir un par de botones para que la gente pudiera compartir tanto
            en Twitter como en Instagram pero lo vi demasiado elaborado y simplemente
            coloqu칠 un bot칩n que incentiva a hacer un pantallazo.
            <p class="mt-1">
              Se difumina el fondo y aparece la marca como una especie de "Loop
              Viral" de contacto casual.
            </p>
            <Image
              src={Loop}
              width={1000}
              height={1000}
              class="w-full h-auto py-2"
              alt="Imagen del bot칩n de mezclar de la p치gina lavidamodernaes.com"
            />
          </li>
          <li>
            Monetizaci칩n
            <p>
              Este proyecto es totalmente gratis y de <a
                class="underline decoration-wavy decoration-[#f9138e]"
                target="_blank"
                rel="noopener noreferrer"
                href="https://github.com/akac12z/lavidamodernaes-dot-com"
                >c칩digo abierto</a
              > pero yo tengo que comer, as칤 que puse un
              <a
                target="_blank"
                class="underline decoration-wavy decoration-amber-500"
                rel="noopener noreferrer"
                href="https://buymeacoffee.com/akac12z">Buy Me A Coffee</a
              > para quien quiera apoyar al proyecto 游때.
            </p>
          </li>
        </ul>
      </section>
    </section>
  </article>
</MainLayout>
