---
import styles from "./showContent.module.css"
import { updatedSectionLists } from "../rules/sortContentInHome";
import SectionLists from "./SectionLists.astro";

---

<section class={styles.list}>

  {
    updatedSectionLists.map(({ style, description, href, items, label }) => (
      <SectionLists
        href={href}
        style={style}
        label={label}
        description={description}
        items={items}
      />
    ))
  }
</section>
