---
// import GoOut from "@icons/shared/GoOut.astro";
// import ReaderStaticMarkdowns from "@static/markdowns/ReaderStaticMarkdowns.astro";
// import { Content as HomeContent } from "@static/markdowns/home.mdx";
import { SECTION_LISTS } from "@/global/sectionLists";
import SectionLists from "@static/SectionLists.astro";
---

<article>
  <section class="mx-auto flex flex-col justify-center text-pretty">
    <h1 class="mb-4">Aquí Chema F. · c12z</h1>

    <section class="flex flex-col gap-y-2">
      <p>
        Un Growth, apasionado de la psicología del comportamiento y de hablar
        con usuarios para crear mejores productos. EdTech, ClimateTech y
        productos con Network Effects me interesan.
      </p>
      <p>
        Amante del arte del Tattoo, compito en CrossFit y en mi tiempo libre
        programo.
      </p>
    </section>
  </section>

  <!-- <sections
    class="flex gap-y-2 mt-4 border-2 border-cz-primary px-2 py-2 bg-cz-primary/5 rounded w-fit"
  >
    <p>
      ¿Buscas un Growth?
      <a
        class="text-sm hover:underline hover:underline-offset-2 hover:decoration-cz-primary border-cz-primary"
        href="https://www.linkedin.com/in/chemaferrandez/"
        target="_blank"
        rel="noopener noreferrer"
      >
        LinkedIn
      </a>
    </p>
    <span class="relative flex justify-center items-center size-3">
      <span
        class="absolute inline-flex h-full w-full animate-ping rounded-full bg-cz-secondary opacity-75"
      ></span>
      <span class="absolute inline-flex size-2 rounded-full bg-cz-primary"
      ></span>
    </span>
  </sections> -->

  <section>
    <h2 class="mt-8 mb-4">Cosas de las que hablo</h2>
    <p class="">
      Comparto aquello que voy aprendiendo sobre Growth, Psicología del
      Comportamiento y Producto junto con algunas reflexiones.
    </p>

    <section class="flex flex-col gap-y-4">
      {
        SECTION_LISTS.map(({ style, description, href, items, label }) => (
          <SectionLists
            href={href}
            style={style}
            label={label}
            description={description}
            items={items}
          />
        ))
      }
    </section>
  </section>
</article>
