---
// import GoOut from "@icons/shared/GoOut.astro";
// import ReaderStaticMarkdowns from "@static/markdowns/ReaderStaticMarkdowns.astro";
// import { Content as HomeContent } from "@static/markdowns/home.mdx";
import { SECTION_LISTS } from "@/global/sectionLists";
import SectionLists from "@static/SectionLists.astro";
---

<!-- <ReaderStaticMarkdowns>
  <HomeContent />
</ReaderStaticMarkdowns> -->
<article class="max-w-xl mx-auto flex flex-col justify-center text-pretty">
  <section class="flex items-center justify-between gap-4 mb-6">
    <h1 class="text-xl">Aquí Chema F. · c12z</h1>
  </section>
  <section class="flex flex-col gap-y-2">
    <p class="text-sm">
      Un Growth, apasionado de la psicología del comportamiento y de hablar con
      usuarios para crear mejores productos.
    </p><p>
      Amante del arte del tattoo, compito en CrossFit y en mi tiempo libre pico
      código (AI).
    </p>
  </section>

  <section class="flex gap-y-2 mt-4">
    <p class="text-sm">
      Actualemente estoy <span class="font-medium">{`{{open_to_work}}`}</span> →
      <a
        class="text-sm hover:underline hover:underline-offset-2 hover:decoration-cz-primary border-cz-primary"
        href="https://www.linkedin.com/in/chemaferrandez/"
        target="_blank"
        rel="noopener noreferrer"
        >LinkedIn
      </a>
    </p>
  </section>

  <h2 class="mt-12">Cosas de las que hablo</h2>

  <section class="flex flex-col gap-y-4">
    {
      SECTION_LISTS.map(({ style, description, href, items, label }) => (
        <SectionLists
          href={href}
          style={style}
          label={label}
          description={description}
          items={items}
        />
      ))
    }
  </section>
</article>
