---
import styles from "./footer.module.css"
import SocialBlock from "@/components/common/ui/icons/social/SocialBlock.astro";

---

<footer class={styles.footer}>
  <hr class={styles.divider} />
  <section class={styles.elements}>
    <p class={styles.love}>
      with 🖤 - <a
        class={styles.context}
        href="/contexto"
        title="Contexto de Chema Ferréndez - c12z">chema</a>
    </p>
  <SocialBlock />
  </section>
</footer>
