---
import styles from "./book.module.css"
import { getCollection, type CollectionEntry } from "astro:content";

import BookScore from "./BookScore.astro";
import BookCover from "./BookCover.astro";

interface Props {
  entry: CollectionEntry<"library">;
  index: number;
}

export async function getStaticPaths() {
  const library = await getCollection("library");

  return library.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry, index } = Astro.props;
const { data, id } = entry;
const { quote, title, readingTime, backlog } = data;
const eager = index < 4;
---

<section class={styles.bookCard}>
  <div
    class={styles.card}
  >
    {
      backlog === "upload" ? (
        <a
          href={`/biblioteca/${id}`}
          class={styles.link}
        >
          <BookCover
            entry={entry}
            eager={eager}
            transition:name={`${id}-bookCover`}
          />
        </a>
      ) : (
        <div class={styles.noLink}>
          <BookCover
            entry={entry}
            eager={eager}
            transition:name={`${id}-bookCover`}
          />
        </div>
      )
    }

    <section class={styles.readSect}>
      {
        backlog === "upload" ? (
          <h2>
            <a href={`/biblioteca/${id}`}>{title}</a>
          </h2>
        ) : (
          <h2 class={styles.wip}>{title}</h2>
        )
      }

      {
        backlog === "upload" ? (
          <>
            <BookScore entry={entry} />
            <div class={styles.readindTime}>
              <span>Léelo en: {readingTime}min</span>
            </div>
            <p>"{quote}"</p>
          </>
        ) : (

            <BookScore entry={entry} />
            <p class={styles.disclaimer}>
            "El resumen e insights de{" "}
            <span class={styles.bookTitle}>{title}</span> aún no lo
            tengo listo. Estoy leyéndolo o en proceso de subirlo.
          </p>
        )
      }
    </section>

    {
      backlog !== "upload" && (
        <div class={styles.availability}>
          <span class={styles.apologies}>
            ¡No disponible por ahora!
          </span>
        </div>
      )
    }
  </div>
</section>
