---
import styles from "./book.module.css"
import { Picture } from "astro:assets";
import type { CollectionEntry } from "astro:content";

interface Props {
  entry: CollectionEntry<"library">;
  eager?: boolean;
}

const { entry, eager = false } = Astro.props;
const { data, id } = entry;
const { cover, backlog } = data;
---

<div class={styles.bookCover}
  
>
  {
    backlog === "upload" ?

    <Picture
      src={cover.src}
      height={cover.src.height}
      width={cover.src.width}
      formats={["avif", "webp", "jpeg", "png"]}
      alt={cover.alt}
      class={styles.cover}
      loading={eager ? "eager" : "lazy"}
      fetchpriority={eager ? "high" : "auto"}
      quality="high"
      transition:name={`${id}-bookCover`}
    />
    :
    <Picture
      src={cover.src}
      height={cover.src.height}
      width={cover.src.width}
      formats={["avif", "webp", "jpeg", "png"]}
      alt={cover.alt}
      class={`${styles.wip} ${styles.cover}`}
      loading={eager ? "eager" : "lazy"}
      fetchpriority={eager ? "high" : "auto"}
      quality="high"
      transition:name={`${id}-bookCover`}
    />

  }
</div>
