---
// contenido inspirado en el blog de https://joseramonbernabeu.com/tutorial/como-poner-botones-de-resumen-con-ia-a-tu-web/ y la web de wisperflow.ai

import styles from "./summarizeLLM.module.css";

import Claude from "@/icons/ai/Claude.astro";
import Grok from "@/icons/ai/Grok.astro";
import ChatGPT from "@/icons/ai/ChatGPT.astro";
// import DeepSeek from "@/icons/ai/DeepSeek.astro"; // no funciona. no detecta el prompt
// import Gemini from "@/icons/ai/Gemini.astro"; // no funciona. no detecta el prompt
import Perplexity from "@/icons/ai/Perplexity.astro";

// es un único btn pero tendrá como props link a la AI, el nomber de la ai y los estilos de cada uno de ellos con sus colores específicos dentro de un style.module.css

interface Props {
  ai: "chatgpt" | "claude" | "grok" | "perplexity";
  class?: string;
}

const { ai, class: className } = Astro.props;
const currentUrl = new URL(Astro.url.pathname, Astro.site);

const prompt = `Please summarize the following page ${currentUrl} and give me the main and key ideas. Please give me the answer in Spanish.`;

const AI_CONFIGS = {
  chatgpt: {
    name: "ChatGPT",
    url: `https://chatgpt.com/?q=${prompt}`,
    icon: ChatGPT,
    colors: styles.chatgpt,
  },
  claude: {
    name: "Claude",
    url: `https://claude.ai/new?q=${prompt}`,
    icon: Claude,
    colors: styles.claude,
  },
  grok: {
    name: "Grok",
    url: `https://grok.com/?q=${prompt}`,
    icon: Grok,
    colors: styles.grok,
  },
  perplexity: {
    name: "Perplexity",
    url: `https://www.perplexity.ai/search/new?q=${prompt}`,
    icon: Perplexity,
    colors: styles.perplexity,
  },
};

const config = AI_CONFIGS[ai];
const Icon = config.icon;
---

<a
  href={config.url}
  target="_blank"
  rel="noopener noreferrer"
  class:list={[styles.hoverIcons, config.colors]}
>
  {Icon && <Icon class={styles.widthIcons} />}
  <span class={styles.nameIcons}>{config.name}</span>
</a>
