---
export const prerender = true;

import type { CollectionEntry } from "astro:content";
import { getCollection, render } from "astro:content";

import MainLayout from "@layouts/MainLayout.astro";
import BookScore from "@bookPageComponents/components/BookScore.astro";
import BookCover from "@bookPageComponents/components/BookCover.astro";
import BookSpoiler from "@bookPageComponents/components/BookSpoiler.astro";
import BooksSEO from "@analyticsComponents/SEO/pages/library/BooksSEO.astro";

import TOC from "@sharedPageComponents/ToC/toc";
import GoOut from "@/components/shared/icons/GoOut.astro";
import GoBackInTop from "@sharedComponentsInPages/items/buttons/GoBackInTop.astro";

interface Props {
  entry: CollectionEntry<"library">;
}

export async function getStaticPaths() {
  const library = await getCollection("library");

  return library.map((entry) => ({
    params: { id: entry.id },
    props: { entry },
  }));
}

const { entry } = Astro.props;
const { data, id } = entry;

const { title, score, authors, readingTime, publishDate, quote } = data;
const authorsInArry = Array.isArray(authors) ? authors : [authors];

const { Content, headings } = await render(entry);
---

<MainLayout>
  <BooksSEO slot="head" entry={entry} />
  <article class="flex flex-col w-full md:min-w-3xl sm:min-w-xl mx-auto">
    <TOC client:only="react" headings={headings} title={title} />
    <GoBackInTop headPage="/biblioteca" title="ir a la página biblioteca" />

    <section class="grid grid-cols-2 mb-4">
      <BookCover entry={entry} />

      <section class="flex flex-col items-start custom-prose">
        <h1 class="text-start mb-2">
          {title}
        </h1>
        <section class="flex flex-col -mt-1 mb-4">
          <span class="font-pixel text-xs text-cz-text-headers-dark">
            de {authorsInArry[0].name}
          </span>
        </section>
        <BookScore
          entry={entry}
          width="w-5 xs:w-7"
          height="w-5 xs:h-7"
          transition:name={`${id}-bookScore-${score}`}
        />
        <section
          class="flex flex-col mt-4 gap-y-1 text-xs font-pixel text-cz-text-relax-dark"
        >
          <span>Publicado el {publishDate}</span>
          <span>Léelo en {readingTime} min.</span>
        </section>
      </section>
      <section class="col-span-2 mt-4 mx-auto">
        <p class="italic text-xs text-cz-text-content-dark">"{quote}"</p>
      </section>
    </section>
    <BookSpoiler entry={entry} />
    <section id="mdx-content" class="custom-prose mx-auto mdx">
      <Content />
    </section>
    <section class="custom-prose">
      <h2 class="mb-2">Autor(es)</h2>
      {
        authorsInArry.map((author) => (
          <div class="flex items-center gap-x-1 mb-2">
            <a
              class="text-sm flex items-center gap-x-1 mb-2"
              href={author.link}
              target="_blank"
              rel="noopener"
            >
              {author.name}
              <GoOut classes="w-4 h-4" />
            </a>
          </div>
        ))
      }
    </section>
  </article>
</MainLayout>
