---
// import { getCollection } from "astro:content";

import { PAGES } from "@/global/pages-info";
import MainLayout from "@layouts/MainLayout.astro";
import GoBackInTop from "@/components/common/ui/buttons/GoBackInTop.astro";

import PagesSEO from "@/seo/PagesSEO.astro";

import { essaysKeywords } from "@/features/essay/seo/essays.keywords";

// const essays = await getCollection("essay");
---

<MainLayout>
	<PagesSEO
		slot="head"
		pageTitle={PAGES.essay.title}
		pageDescription={PAGES.essay.description}
		ogImage={PAGES.essay.ogImage}
		ogImageAlt={PAGES.essay.ogImageAlt}
		pageKeywords={essaysKeywords}
	/>
	<GoBackInTop
		headPage="/"
		title="ir a la home"
	/>
	<section>
		<h1>Ensayos</h1>
		<p>Por ahora, no tengo ningún ensayo que mustrarte! 🙂</p>
	</section>

	<section>
		{
			/*essays.map((essay) => {
        const { data, id } = essay;
        const { title, description } = data;

        return (
          <article class="">
            <div>
              <h1>{title}</h1>
              <p >{description}</p>
            </div>
            <a
              

              href={`/ensayos/${id}`}
            >
              Ir al post
            </a>
          </article>
        );
      })
    */
		}
	</section>
</MainLayout>
