---
import { updatedSectionLists } from "../../rules/sortContentInHome";
import SectionLists from "./SectionLists.astro";
---

<section class="flex flex-col gap-y-4">
  {
    updatedSectionLists.map(({ style, description, href, items, label }) => (
      <SectionLists
        href={href}
        style={style}
        label={label}
        description={description}
        items={items}
      />
    ))
  }
</section>
