---
import styles from "./project.module.css";
import { getCollection, type CollectionEntry } from "astro:content";

import ProjectCover from "./ProjectCover.astro";

interface Props {
	entry: CollectionEntry<"projects">;
	index: number;
}

export async function getStaticPaths() {
	const library = await getCollection("projects");

	return library.map((entry) => ({
		params: { id: entry.id },
		props: { entry },
	}));
}

const { entry, index } = Astro.props;
const { data, id } = entry;
const { projectTitle, projectDescription } = data;
const eager = index < 6;
---

<section class={styles.projectCard}>
	<a href={`/proyectos/${id}`}>
		<ProjectCover
			entry={entry}
			eager={eager}
		/>
		<h2
			class={styles.title}
			transition:name={`${id}-project-title`}
		>
			{projectTitle}
		</h2>
		<p class={styles.desc}>
			{projectDescription}
		</p>
	</a>
</section>
