---
import styles from "./project.module.css"
import { Picture } from "astro:assets";
import { PROJETCS_DATA } from "../data/projectsData";

interface Props {
  href: string;
  srcImage: string;
  altImage: string;
  projectTitle: string;
  projectDescription: string;
}

const {
  href,
  srcImage = "/og-image.png",
  altImage = "La imagen de Open Graph de c12z.io, Chema Ferrández",
  projectTitle,
  projectDescription,
} = Astro.props;
const { LVM_es } = PROJETCS_DATA;
---

<article class={styles.projectCard}>
  <div class={styles.view}>
    <a href={`/proyectos/${href}`}>
      <Picture
        src={srcImage}
        width={1000}
        height={1000}
        alt={altImage}
        class={styles.picture}
        transition:name={`${LVM_es.href}-project-image`}
      />
    </a>
    <h2
      class={styles.title}
      transition:name={`${LVM_es.href}-project-title`}
    >
      {projectTitle}
    </h2>
  </div>
  <div class={styles.desc}>
    <p>
      {projectDescription}
    </p>
  </div>
</article>
