---
import styles from "./project.module.css"
---

<section class={styles.projectPage}>
  <p class={styles.intro}>
    Recopilación de proyectos que he ido (y voy) haciendo como hobby o
    herramientas útiles que he ido creando en mi tiempo libre. Aquí te expico
    cómo los he construido, qué herramientas he usado y el porqué detrás de cada
    decisión.
  </p>
  <section class={styles.page}>
    <div class={styles.projectsView}>
      <section
        class={styles.grids}
      >
        <slot />
      </section>
    </div>
  </section>
</section>
