---
import { getCollection, render, type CollectionEntry } from "astro:content";
import { SquareArrowOutUpRight } from "@lucide/astro";

import MainLayout from "@layouts/MainLayout.astro";
import GoBackInTop from "@/components/common/ui/buttons/GoBackInTop.astro";
import TOC from "@/components/common/ui/toc/toc";
import ProjectsSEO from "@/features/projects/seo/ProjectsSEO.content.astro";

import ProjectCover from "@/features/projects/components/ProjectCover.astro";

import styles from "@/features/projects/components/project.module.css";
import "@/features/projects/components/projectStyles/theProjectStyles.css";

interface Props {
	entry: CollectionEntry<"projects">;
}

export async function getStaticPaths() {
	const projects = await getCollection("projects");

	return projects.map((entry) => ({
		params: { id: entry.id },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { data, id } = entry;
const { projectTitle, projectUrl, styleClass } = data;

const { Content, headings } = await render(entry);
---

<MainLayout>
	<ProjectsSEO
		slot="head"
		entry={entry}
	/>

	<section class={styles.theProject}>
		<TOC
			client:only="react"
			headings={headings}
			title={projectTitle}
		/>
		<GoBackInTop
			headPage="/proyectos"
			title="ir a proyectos"
		/>

		<section class={styles.projSect}>
			<h1
				transition:name={`${id}-project-title`}
				class={styles.projTitle}
			>
				{projectTitle}
			</h1>

			<ProjectCover
				entry={entry}
				transition:name={`${id}-project-image`}
			/>

			<a
				class={styles.projLink}
				href={projectUrl}
				target="_blank"
				rel="noopener noreferrer"
			>
				{projectTitle}
				<SquareArrowOutUpRight size={12} />
			</a>
		</section>

		<section class:list={["lettering", styleClass]}>
			<Content />
		</section>
	</section>
</MainLayout>
