---
import MainLayout from "@layouts/MainLayout.astro";
import GoBackInTop from "@commonPageComponents/bottons/GoBackInTop.astro";

import { PROJECTS_PAGE } from "@/global/pagesInfo";
import { PROJETCS_DATA } from "@projectPageComponents/data/projectsData";

import ProjectPageSEO from "@SEO/pages/projects/ProjectPageSEO.astro";
import ProjectPage from "@projectPageComponents/components/ProjectPage.astro";
import ProjectCard from "@projectPageComponents/components/ProjectCard.astro";

const { LVM_es } = PROJETCS_DATA;
---

<MainLayout>
  <ProjectPageSEO
    slot="head"
    pageTitle={PROJECTS_PAGE.title}
    pageDescription={PROJECTS_PAGE.description}
  />
  <GoBackInTop headPage="/" />
  <h1>Proyectos</h1>
  <ProjectPage>
    <ProjectCard
      href={LVM_es.href}
      srcImage={LVM_es.srcImage}
      altImage={LVM_es.altImage}
      projectDescription={LVM_es.projectDescription}
      projectTitle={LVM_es.projectTitle}
    />
  </ProjectPage>
</MainLayout>
