---
import styles from "./bias.module.css"
import BrainIcon from "@/features/bias/icons/BrainIcon.astro";
---

<section class={styles.biasesHeader}>
  <div class={styles.brainIcon}>
    <BrainIcon />

  </div>

  <section class={styles.desc}>
    <h1
      class={styles.title}
      transition:name="bias-header-page-h1-transition-name"
    >
      Sesgos Cognitivos
    </h1>
    <p>
      <span
        class={styles.question}
        >¿Sabías que tu mente utiliza atajos para simplificar la toma de
        decisiones y a veces llevarte a errores?</span
      > Aquí recopilo algunos de ellos, analizando por qué ocurren, cómo evitarlos
      y cómo puedes aplicarlos (o cómo los aplican contigo) en distintos contextos.
    </p>
  </section>
</section>
